extends layout

block content
    h3 Console
    div(class='output')
    textarea(class='input' name='input' cols='30' rows='1' placeholder= content)
    script(type='text/javascript', src='/javascripts/game_client.js')