extends layout

block content
  h1= title
  h2 Welcome to #{title}, a text based RPG!
  h3 Directions
  p In this game, you will navigate a character through a series of dreams.
  p When you begin the game you will enter a character creator. Once your
  p character has been created you will enter your first dream.
  h3 Commands
  h5 Beginning
  p >start --- begin the character creation process
  p >sleep --- put your character to sleep and enter a dream
  h5 In-game
  p >go [direction] --- move character in [direction]
  p >get [item] --- pick up an [item] from the current room
  br
  textarea(class="input" name="input" cols="30" rows="1" placeholder= content)
